<div class="container my-3 ">
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" >
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Todo Description</label>
          <textarea class="form-control" [(ngModel)]="desc" name="desc" id="desc" rows="3"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Add Todo</button>
      </form>
</div>